/* Color palette */
:root {
  --raisin-black: #272932;
  --steel-blue: #4d7ea8;
  --baby-powder: #f9f7f3;
  --medium-champagne: #eddea4;
  --atomic-tangerine: #f7a072;
}

/* Sitewide theme */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--steel-blue);
}

.section-steel-blue {
  background-color: #4d7ea8;
  height: 100vh;
}

.hero {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.hero-image {
  height: 50vh;
  width: auto;
}

/* Offcanvas */
.offcanvas {
  max-width: 80vw;
  background-color: var(--raisin-black);
}

.offcanvas-header {
  display: block;
  text-align: right;
}

.btn-close:active {
  border-color: var(--steel-blue);
}

.offcanvas-body {
  align-items: right;
}

.nav-link {
  color: var(--atomic-tangerine);
  text-align: right;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--steel-blue);
}
