/* Navbar */
#navbar {
  background-color: var(--raisin-black);
}

.navbar-container {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

#navbar-brand {
  font-size: 1.5rem;
  color: #f5f0f6;
}
