.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Typewritter effect */
.type-writer-container {
  margin-bottom: 1rem;
}

.type-writer {
  font-size: 2rem;
}
