/* Color palette 

Indigo Dye: #2b4162
Blue Sapphire: #385f71
Magnolia: #f5f0f6
Burlywood: #d7b377
French Bistre: #8f754f


*/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #2b4162;
}

#navbar {
  background-color: #385f71;
}

#navbar-brand {
  font-size: 1.5rem;
  color: #f5f0f6;
}

.offcanvas {
  max-width: 80vw;
}
