/* Color palette */
:root {
  --raisin-black: #272932;
  --steel-blue: #4d7ea8;
  --grey-web: #828489;
  --heliotrope-gray: #9e90a2;
  --light-steel-blue: #b6c2d9;
}

.section {
  background-color: #4d7ea8;
  height: 100vh;
}

/* Sitewide theme */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--steel-blue);
}

/* Navbar */
.offcanvas {
  max-width: 80vw;
  background-color: var(--raisin-black);
}

.offcanvas-header {
  display: block;
  text-align: right;
}

.btn-close:active {
  border-color: var(--steel-blue);
}

.offcanvas-body {
  align-items: right;
}

.nav-link {
  color: var(--heliotrope-gray);
  text-align: right;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--steel-blue);
}

#navbar {
  background-color: var(--raisin-black);
}

#navbar-brand {
  font-size: 1.5rem;
  color: #f5f0f6;
}

/* Home page */
.hero {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.hero-image-container {
  position: relative;
}

.hero-image-backdrop {
  display: inline;
  height: 80vh;
  width: 1000px;
  background-color: var(--grey-web);
}

.hero-image {
  height: 80vh;
  width: auto;
  position: absolute;
}
